/*LOGO*/

div.logo{
    width: 35vw;
    min-width: 350px;
    text-align: center;
    margin-bottom: 12px;
    padding: 0.5rem;
    background-color: #000;
    color: #fff;
    border-radius: 22px 0 22px 0;
}
div.logo span{
    font-family: 'Lobster', cursive;
    font-size: 80%;
    letter-spacing: 0.4rem;
}
div.logo>img{
    width: 14%;
}
.lobster {
    font-family: 'Lobster', cursive;
    font-size: 75%;
}

/*Inicio seletor filho*/
header > img {
    filter: invert(100);
}

header div.slogan {
    background-color: #000;
    color: #fff;
    /* padding: 0 0 12px 0; top right bottom left */
    padding: 0 0 7px 0;
}

header div.slogan p {
    padding: 0 1.5rem 0 0;
}
/*Final seletor filho*/
h2 {
    color: blue;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    /* direction: rtl; Texto na esquerda, rtl para alinhar na direita */
    /* unicode-bidi: bidi-override; Inverte a ordem das letras */
}

/*Inicio Combinacoes*/
article#pratos p { /*Todos os paragrafos do artigo PRATO fica cinza*/
    color: #999;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

article#pratos table td p { /*Todos os paragrafos dentro da tabela fica de cor preta*/
    color: #000;
}
/*Final Combinacoes*/

/*Inicio Adjacente*/
/* header span+br+br+img { Linha 13 a 15 para formar o adjacente
    filter: invert(100);
} */

h2+span{
    font-size: 0.8rem;
    text-transform: uppercase;
    color: brown;
}
/*Final Adjacente*/

/*Inicio seletor vizinho*/
article#pratos p:active ~ table {
    border: dashed 2px green;
}

article#pratos p:active {
    color: red;
}
/*Final seletor vizinho*/

/*Inicio prefixos de browsers*/
textarea {
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    -o-border-radius: 12px;
    -ms-border-radius: 12px;
    border-radius: 12px;
}
/*Final prefixos de browsers*/

/*Inicio atributos*/
input[type=radio]{ /*Ao clicar no botao tipo radio, ele fica verde*/
    accent-color: green;
}

input[type=checkbox]:checked + span { /*Ao clicar checkbox, a palavra fica azul*/
    color: blue;
}
/*Final atributos*/


p {
    text-align: justify;
    text-indent: 30px; /*Afasta o texto da borda */
    text-align-last: right; /* A última linha vai para direita*/
    letter-spacing: 0.08rem; /*Separacao entre as letras*/
    word-spacing: 0.08rem; /*Separacao entre as palavras*/
    /* white-space: nowrap; espaco em branco nao tem quebra (com esse comando) */
    line-height: 1.4rem; /*Afasta linhas*/
    white-space: wrap;
}

/*Pseudo elemento first-letter - altera com a primeira letra do paragrafo*/
p::first-letter { 
    font-size: 1.8rem;  
    font-weight: 900;
}

nav a {
    /* text-decoration: none; Remove o sublinhado (decoracao do texto) */
    /* text-decoration: overline; Sublinhado fica acima do texto */
    /* text-decoration: underline; Sublinhado fica abaixo do texto */
    /* text-decoration-color: red; Texto fica no centro da img */
    text-decoration: none; /*Edicao em uma unica linha*/
}

/*Pseudo classe hover - no momento em que o cursor estiver sobre o elemento, alguma acao acontece*/
nav a:hover { 
    text-decoration: underline red dotted 3px;
}

header span {
    /* text-transform: uppercase; tudo em maiusculas */
    /* text-transform: lowercase; tudo em minusculas */
    text-transform: capitalize; /* So as primeiras letras em maiusculas*/
}
/* Inicio do style que removi do html e trouxe pro arquivo css*/
body {
    width: 80%;
    margin: auto;
    font-size: 1.3rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 1.3rem;
    border: 1px dashed #ccc;
    padding: 10px;
}

figure {
    padding: 20px;
}

header nav ul li {
    font-size: 16px;
}

header * {
    font-size: 2rem;
    font-weight: 700;
}

header img {
    width: 80px;
    vertical-align: middle; /*Texto fica no centro da img */
    /* vertical-align: baseline; Texto fica no final da img */
    /* vertical-align: top; Texto fica no comeco da img */
}

audio {
    margin-top: 20px;
    margin-bottom: 20px;
}
/* Final do style que removi do html e trouxe pro arquivo css*/
