/* ###### -> LOGO <- ###### */
div.logo{
    width: 35vw;
    min-width: 350px;
    text-align: center;
    margin-bottom: 12px;
    padding: 0.5rem;
    background-color: #000;
    color: #fff;
    border-radius: 22px 0 22px 0;
}
div.logo span{
    font-family: 'Lobster', cursive;
    font-size: 80%;
    letter-spacing: 0.4rem;
    /* text-transform: uppercase; tudo em maiusculas */
    /* text-transform: lowercase; tudo em minusculas */
    text-transform: capitalize; /* So as primeiras letras em maiusculas*/
}
div.logo>img{
    width: 14%;
    vertical-align: middle;
}
/* ###### Final LOGO ###### */

/* ###### -> HEADER <- ###### */
header * {
    font-size: 2rem;
    font-weight: 700;
}

header > img { /*Inicio seletor filho*/
    filter: invert(100);
}

header div.slogan {
    background-color: #000;
    color: #fff;
    /* padding: 0 0 12px 0; top right bottom left */
    padding: 0 0 7px 0;
}

header div.slogan p { /*Final seletor filho*/
    padding: 0 1.5rem 0 0;
}
/* ###### Final HEADER ###### */

/* ###### -> P e H2 <- ###### */
h2 {
    color: blue;
    text-align: right;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 0 0 10px 0;
    /* direction: rtl; Texto na esquerda, rtl para alinhar na direita */
    /* unicode-bidi: bidi-override; Inverte a ordem das letras */
}

/*Inicio Adjacente*/
/* header span+br+br+img { Linha 13 a 15 para formar o adjacente
    filter: invert(100);
} */

h2+span{ /*Final Adjacente*/
    font-size: 0.8rem;
    text-transform: uppercase;
    color: brown;
    font-weight: 700;
    display: block;
    text-align: right;
}

p {
    text-align: justify;
    text-indent: 30px; /*Afasta o texto da borda */
    text-align-last: right; /* A última linha vai para direita*/
    letter-spacing: 0.08rem; /*Separacao entre as letras*/
    word-spacing: 0.08rem; /*Separacao entre as palavras*/
    /* white-space: nowrap; espaco em branco nao tem quebra (com esse comando) */
    line-height: 1.4rem; /*Afasta linhas*/
    white-space: wrap;
}

p::first-letter { /*Pseudo elemento first-letter - altera com a primeira letra do paragrafo*/
    font-size: 1.8rem;  
    font-weight: 900;
}
/* ###### Final p e h2 ###### */

/* ###### -> CLASSES <- ###### */
.lobster { /*Inicio Combinacoes*/
    font-family: 'Lobster', cursive;
    font-size: 75%;
}
/* ###### Final CLASSES ###### */

/* ###### -> ARTICLES <- ###### */
article#pratos p:active ~ table { /*Inicio Seletor Vizinho */
    border: dashed 2px green;
}

article#pratos p:active { /*Final Seletor Vizinho*/
    color: red;
}

article {
    min-height: 100vh;
    padding: 40px 0 0 0;
}
/* ###### Final ARTICLES ###### */

/* ###### -> FORMS <- ###### */
textarea { /*Inicio prefixos de browsers*/
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    -o-border-radius: 12px;
    -ms-border-radius: 12px;
    border-radius: 12px;
} /*Final prefixos de browsers*/

/*Inicio atributos*/
input[type=radio]{ /*Ao clicar no botao tipo radio, ele fica verde*/
    accent-color: green;
}

input[type=checkbox]:checked + span { /*Ao clicar checkbox, a palavra fica azul*/
    color: blue;
}
/*Final atributos*/

form#formReserva {
    margin: 0 0 20px 0;
}
/* ###### Final FORMS ###### */

/* ###### -> NAVBAR <- ###### */
nav a {
    /* text-decoration: none; Remove o sublinhado (decoracao do texto) */
    /* text-decoration: overline; Sublinhado fica acima do texto */
    /* text-decoration: underline; Sublinhado fica abaixo do texto */
    /* text-decoration-color: red; Texto fica no centro da img */
    text-decoration: none; /*Edicao em uma unica linha*/
}

nav {
    margin: 0 0 120px 0;
}

nav ul {
    margin-top: 10px;
    /* height: auto; */
    list-style: none; /* remove o marcador da lista */
    padding: 0;
    text-align: left;
}

nav.nav1 ul li a {
    text-decoration: none;
    margin: 0 0.5vw 0 0;
    display: inline-block;
    background-color: rgb(132, 118, 118);
    padding: 20px 22px 12px 22px;
    color: #fff;
}

nav.nav1 a:hover { 
    text-decoration: overline #fff dotted 3px;
}

nav.nav2 ul li a {
    text-decoration: underline;
    margin: 0 0.5vw 0 0;
    display: inline-block;
    background-color: #fff;
    border-radius: 0 0 12px 12px;
    padding: 20px 22px 12px 22px;
    color: #999;
    border: 2px solid red;
    border-top-width: 0; /*Remove a linha de cima da borda*/
    border-bottom-color: black; /*Colore de preto a linha abaixo da borda*/
    border-right-style: dashed; /*Tracejado ao lado direito da borda*/
    border-top-left-radius: 10px; /*Arredonda o lado esquerdo da borda*/
}
/*Pseudo classe hover - no momento em que o cursor estiver sobre o elemento, alguma acao acontece*/
nav.nav2 a:hover { 
    color: #000;
}

div.navUp {
    text-align: right;
}

div.navUp i {
    color: brown;
    cursor: pointer; /*icone de mao para o cursor*/
}
/* ###### Final NAVBAR ###### */


/* Inicio do style que removi do html e trouxe pro arquivo css*/
body {
    width: 80%;
    margin: auto;
    font-size: 1.3rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 1.3rem;
    border: 1px dashed #ccc;
    padding: 10px;
}

figure {
    padding: 20px;
}
/* 
header nav ul li {
    font-size: 16px;
} */


/* Final do style que removi do html e trouxe pro arquivo css*/


/* header img {
    width: 80px;
    vertical-align: middle; /*Texto fica no centro da img */
    /* vertical-align: baseline; Texto fica no final da img */
    /* vertical-align: top; Texto fica no comeco da img 
} */