@use "sass:map";

$black: #000 !default;
$bordaPadrao: 12px !default;
$sombraPadrao: 1rem 0.75rem 1rem rgba($black, 0.3) !default;

$temaEscuro: true !default;
$corPrimaria: #d3cfcf;
$corBordaPrimaria: #6a6969;

@mixin cor-01 {
    color: #fcb32b;
}

h4 {
    @include cor-01;
}

@mixin lista_horizontal {
    @include lista-reset;

    li {
        display: inline-block;
        margin-left: 0; 
        margin-right: 1rem;
    }
}

@mixin lista-reset {
    margin: 0;
    padding: 0;
    border: none;
}

nav ul {
    @include lista_horizontal;
}

@mixin icone-position($img, $top-bottom, $left-right) {
    .icone-#{$img} {
        background-image: url(/HTML/recursosHTML/images/#{img}.png);
        position: absolute;
        #{$top-bottom}: 0;
        #{$left-right}: 0;
    }
}

@include icone-position("facebook", top, right);
@include icone-position("instagram", bottom, right);


@mixin anima($dur, $count) {
    $nome: anima-#{unique-id()};
    @keyframes #{$nome} {
        @content
    }
    animation-name: $nome;
    animation-duration: $dur;
    animation-iteration-count: $count;
}

.boxAnima {
    @include anima(2s, forwards) {
        0% {
            transform: scale(1);
        }
        100% {
            transform: scale(1.5);
        }
    }
}

.boxAnima, .alert {
    border: solid #eee 1px;
    p, a {
        background: {
            color: khaki;
        }
    }
}

h2 + {
    span {
        font: {
            weight: bold;
            size: 2rem;
        }
    }
}

div ˜ {
    ul {
        list-style: none;
    }
}

$temaAlerta:(
    "sucesso":#54a021,
    "info": #5050f5,
    "alerta": #fcb32b,
);

@if(temaEscuro) {
    $corPrimaria: darken($corPrimaria, 60%);
    $corBordaPrimaria: lighten($corBordaPrimaria, 30%)
}

.alert {
    color: $corPrimaria;
    border-color: $corBordaPrimaria;
}

.button {
    background-color: map.get($temaAlerta, "alerta");
}

.box {
    color: $black;
    border-radius: $bordaPadrao;
    box-shadow: $sombraPadrao;
}