@use "b" as v;
// @import "b";
@use "PAGE/recursos" with (
    $black: #999,
    $bordaPadrao: 1rem
);

$cor1: red;
$cor2: orange;
$cor3: brown;
$bg1: #eee;


/* BODY STYLE */
body {
    $bg1: $cor3 !global;
    background-color: $bg1;
}

p {
    color: $cor3;
    margin: v.$m2;
}

ul {
    li {
        color: $cor1;
    }
}
